<h2>便當列表</h2>
<%= link_to "<span class='glyphicon glyphicon-knight'></span> 新增便當".html_safe, new_bento_path, class: "btn btn-success btn-xs" %>

  <table class="table table-action" >
    <thead>
      <tr>
        <th class="t-medium"> 名稱 </th>
        <th class="t-small"> 價格 </th>
        <th class="t-long"> 便當介紹  </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bentos.each do |bento| %>
        <tr>
          <td><%= link_to bento.bento_name, bento_path(bento) %></td>
          <td><%= bento.price %> 元</td>
          <td><%= bento.content %></td>
          <td>
            <%= link_to '編輯', edit_bento_path(bento), class: "btn btn-warning btn-xs" %>
            <%= link_to '刪除', bento, method: :delete, data: { confirm: '你確定要刪除嗎?' } , class: "btn btn-danger btn-xs"%>
          </td>
        </tr>
      <ht />
       <% end %>
      </tbody>
      <tfoot>        
      </tfoot>      
 </table>
  



